<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <link th:href="@{/css/mystyle.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<h2>Snippets repository</h2>
<tr th:each="snippet : ${snippets}">
    <span><td th:text="${snippet.date}"></td></span>
    <pre>
        <code class="language-html">
        <td th:text="${snippet.code}"></td>
        </code>
    </pre>
</tr>
</body>
</html>