<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Code</title>
        <link th:href="@{/css/mystyle.css}" rel="stylesheet"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <span id="load_date" th:text="${date}"></span>
        <br>
        <div th:if="${restrictedByViews}">
            <span id="views_restriction" th:text="${views}"></span> more views allowed
        </div>
        <div th:if="${time > 0}">
            The code will be available for <span id="time_restriction" th:text="${time}"></span> seconds
        </div>
        <pre id="code_snippet"><code th:text="${code}"></code></pre>
    </body>
</html>